<!DOCTYPE html>

    <div class="modal-header">
        <a class="close js-news-modal-dismiss" data-dismiss="modal" ng-click="cancel()">×</a>
        <!-- 顶部tab -->
        <ul class="module-nav modal-tab">
            <li class="active">
                <a data-type="tradeincard" class="js-modal-tab">优惠券</a>
            </li>
        </ul>
    </div>
    <div class="modal-body">
        <div class="tab-content">
            <div id="js-module-tradeincard" class="tab-pane module-tradeincard active">
                <table class="table">
                    <colgroup>
                        <col class="modal-col-title">
                        <col class="modal-col-time">
                        <col class="modal-col-action">
                    </colgroup>
                    <!-- 表格头部 -->
                    <thead>
                    <tr>
                        <th class="">
                            <div class="td-cont">
                                <span>名称</span> <a class="js-update" href="javascript:void(0);">刷新</a>
                            </div>
                        </th>
                        <th>
                            <div class="td-cont">面值</div>
                        </th>
                        <th style="width: 30%;">
                            <div class="td-cont">使用条件</div>
                        </th>
                        <th class="opts">
                                <form class="form-search">
                                    <div class="input-append">
                                        <input class="input-small js-modal-search-input" type="text">
                                        <a ng-click="doSearch()" class="btn js-fetch-page js-modal-search" data-action-type="search">搜</a>
                                    </div>
                                </form>
                        </th>
                    </tr>

                    </thead>
                    <!-- 表格数据区 -->
                    <tbody>
                    <tr ng-repeat="item in pageData.list">
                        <td class="">
                            <div class="td-cont">
                                <span>{{item.name}}</span>
                            </div>
                        </td>

                        <td class="">
                            <div class="td-cont">
                                <span>{{item.amount}}</span>
                            </div>
                        </td>
                        <td class="">
                            <div class="td-cont">
                                <span ng-if="item.order_money_limit>0"> 满{{item.order_money_limit}}元可用</span>
                            </div>
                        </td>
                        <td class="opts">
                            <div class="td-cont">
                                <button class="btn js-choose " ng-class="{'btn-primary':item.checked}" ng-click="choose(item)">{{item.checked?'取消':'选取'}}</button>
                            </div>
                        </td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="js-confirm-choose pull-left">
            <input type="button" class="btn btn-primary" ng-show="selected.length>0"  value="确定使用" ng-click="ok()">
        </div>
        <div class="pagenavi">
            <custom-pagination boundary-links="true" ng-change="pageChanged()" can-change-page-size="false"
                               total-items="pageData.totalRow" ng-model="pageData.pageNumber"
                               page-size="pageData.pageSize" class="pagination-sm m-t-none m-b"
                               previous-text="&lsaquo;" next-text="&rsaquo;"
                               first-text="&laquo;" last-text="&raquo;"></custom-pagination>
        </div>
    </div>
