<div class="modal-header">
	<a class="close js-news-modal-dismiss" data-dismiss="modal"
		ng-click="cancel()">×</a>

	<ul class="module-nav modal-tab">
		<li class="active"><a href="#js-module-goods" data-type="goods"
			class="js-modal-tab">角色</a></li>
		<!-- <li><a ui-sref="app.goodsinfo_edit({id:0})" target="_parent"
			data-type="tag" class="js-modal-tab">新建商品</a> |</li>
		<li class="link-group link-group-0"><a
			ui-sref="app.goods_list({menuType:3})" target="_parent"
			class="new_window">草稿管理</a></li> -->
		<li><input placeholder="请输入角色名称" type="text" ng-model="title"
			style="width: 200px;height: 30px;">
			<button class="btn btn-default" type="button"
				ng-click="pageChanged()">Go!</button></li>
	</ul>
</div>

<div class="modal-body">
	<div class="tab-content">
		<div id="js-module-goods" class="tab-pane module-goods active">
			<table class="table">
				<!-- <colgroup>
					<col class="modal-col-title">
					<col class="modal-col-time" span="2">
					<col class="modal-col-action">
				</colgroup> -->
				<!-- 表格头部 -->
				<thead>
					<tr>
						<th style="width: 20px;"><label class="i-checks i-checks-sm"
							ng-show="chooseMode!=1"> <input type="checkbox"
								ng-checked="isCheckedAll()" ng-click="checkAll()"><i></i>
						</label></th>
						<th class="title">
							<div class="td-cont">
								<span>角色名</span> <a class="js-update" ng-click="pageChanged()">刷新</a>
							</div>
						</th>
						<th class="title">
							<div class="td-cont">
								<span>描述</span>
							</div>
						</th>
					</tr>
				</thead>
				<!-- 表格数据区 -->
				<tbody>
					<tr ng-repeat="data in pageData.list">
						<td><label class="i-checks i-checks-sm"
							ng-show="chooseMode!=1"> <input id="{{data.id}}"
								type="checkbox" ng-checked="data.chk"
								ng-click="data.chk = !data.chk"><i></i>
						</label> <label class="i-checks i-checks-sm" ng-show="chooseMode==1">
								<input type="radio" ng-model="goods.single" ng-value="data" ng-click="setGoods(data)">
								<i></i>
						</label></td>
						<td class="title">
							<div class="td-cont">
								<a>{{data.name}}</a>
							</div>
						</td>
						<td class="title">
							<div class="td-cont">
								<a>{{data.details}}</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>

<div style="text-align: center; margin-bottom: 20px;"
	ng-show="chooseMode!=1">
	<button ng-click="selectGoods()">确定</button>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<button ng-click="cancel()">取消</button>
</div>
