<div class="control-group">
    <label class="control-label"><em class="required">*</em>名称：</label>
    <div class="controls">
        <input type="text" ng-model="item.title" >
    </div>
</div>
<div class="control-group">
    <label class="control-label"><em class="required">*</em>链接：</label>
    <div class="controls" name="link_url">
        <ui-setup-link link_id="item.link_id"  link_url="item.link_url" link_title="item.link_title" link_type="item.link_type"></ui-setup-link>
    </div>
</div>
<div class="actions">
    <span class="action delete close-modal" title="删除" ng-click="del(item)">×</span>
</div>
