<div class="control-group">
    <style>
        .tpl-fbb {
            background-image: url(<%= fullfillImage(background) %>);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 320px <%= height / (width / 320) %>px;
            height: <%= height / (width / 320) %>px;
        }
        .swiper-wrapper {
            width: 500px;
        }
    </style>
    <div class="tpl-fbb">
        <div class="swiper-container js-tpl-fbb js-collection-region">
            <div class="swiper-wrapper clearfix js-subentry-list">

            </div>
        </div>
    </div>
    <div class="component-border"></div>
</div>
