<div class="control-group">
    <div class="tpl-wxd">
        <div class="tpl-wxd-header" style="background-image: url(<%- fullfillImage(backgroundImage) %>)">
            <div class="tpl-wxd-title"><%- window._global.mp_data.team_name %></div>
            <div class="tpl-wxd-avatar">
                <img src="<%- fullfillImage(window._global.mp_data.logo) %>" alt="">
            </div>
        </div>
    </div>
</div>
<div class="actions">
    <div class="actions-wrap"><span class="action edit">编辑</span><span class="action add">加内容</span></div>
</div>
<div class="sort">
    <i class="sort-handler"></i>
</div>
