<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.CartMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.Cart">
        <id column="cart_id" jdbcType="INTEGER" property="cartId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="select_flag" jdbcType="INTEGER" property="selectFlag"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="sku_id" jdbcType="INTEGER" property="skuId"/>
        <result column="s1" jdbcType="VARCHAR" property="s1"/>
        <result column="s2" jdbcType="VARCHAR" property="s2"/>
        <result column="s3" jdbcType="VARCHAR" property="s3"/>
        <result column="s4" jdbcType="VARCHAR" property="s4"/>
        <result column="s5" jdbcType="VARCHAR" property="s5"/>
        <result column="activity_id" jdbcType="VARCHAR" property="activityId"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.baidu.ms.pojo.Cart">
        <result column="sku" jdbcType="LONGVARCHAR" property="sku"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    cart_id, user_id, shop_id, goods_id, price, count, add_time, update_time, select_flag, 
    delete_flag, sku_id, s1, s2, s3, s4, s5, activity_id
  </sql>
    <sql id="Blob_Column_List">
    sku
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.baidu.ms.pojo.CartExample" resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_cart
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.CartExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_cart
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_cart
        where cart_id = #{cartId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.CartExample">
        delete from t_cart
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.Cart">
    insert into t_cart (cart_id, user_id, shop_id, 
      goods_id, price, count, 
      add_time, update_time, select_flag, 
      delete_flag, sku_id, s1, 
      s2, s3, s4, s5, 
      activity_id, sku)
    values (#{cartId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{count,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{selectFlag,jdbcType=INTEGER}, 
      #{deleteFlag,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, #{s1,jdbcType=VARCHAR}, 
      #{s2,jdbcType=VARCHAR}, #{s3,jdbcType=VARCHAR}, #{s4,jdbcType=VARCHAR}, #{s5,jdbcType=VARCHAR}, 
      #{activityId,jdbcType=VARCHAR}, #{sku,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.Cart">
        insert into t_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                cart_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="selectFlag != null">
                select_flag,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="s1 != null">
                s1,
            </if>
            <if test="s2 != null">
                s2,
            </if>
            <if test="s3 != null">
                s3,
            </if>
            <if test="s4 != null">
                s4,
            </if>
            <if test="s5 != null">
                s5,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="sku != null">
                sku,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cartId != null">
                #{cartId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="selectFlag != null">
                #{selectFlag,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=INTEGER},
            </if>
            <if test="s1 != null">
                #{s1,jdbcType=VARCHAR},
            </if>
            <if test="s2 != null">
                #{s2,jdbcType=VARCHAR},
            </if>
            <if test="s3 != null">
                #{s3,jdbcType=VARCHAR},
            </if>
            <if test="s4 != null">
                #{s4,jdbcType=VARCHAR},
            </if>
            <if test="s5 != null">
                #{s5,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.CartExample" resultType="java.lang.Long">
        select count(*) from t_cart
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_cart
        <set>
            <if test="record.cartId != null">
                cart_id = #{record.cartId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.shopId != null">
                shop_id = #{record.shopId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.price != null">
                price = #{record.price,jdbcType=DOUBLE},
            </if>
            <if test="record.count != null">
                count = #{record.count,jdbcType=INTEGER},
            </if>
            <if test="record.addTime != null">
                add_time = #{record.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.selectFlag != null">
                select_flag = #{record.selectFlag,jdbcType=INTEGER},
            </if>
            <if test="record.deleteFlag != null">
                delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="record.skuId != null">
                sku_id = #{record.skuId,jdbcType=INTEGER},
            </if>
            <if test="record.s1 != null">
                s1 = #{record.s1,jdbcType=VARCHAR},
            </if>
            <if test="record.s2 != null">
                s2 = #{record.s2,jdbcType=VARCHAR},
            </if>
            <if test="record.s3 != null">
                s3 = #{record.s3,jdbcType=VARCHAR},
            </if>
            <if test="record.s4 != null">
                s4 = #{record.s4,jdbcType=VARCHAR},
            </if>
            <if test="record.s5 != null">
                s5 = #{record.s5,jdbcType=VARCHAR},
            </if>
            <if test="record.activityId != null">
                activity_id = #{record.activityId,jdbcType=VARCHAR},
            </if>
            <if test="record.sku != null">
                sku = #{record.sku,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_cart
        set cart_id = #{record.cartId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        price = #{record.price,jdbcType=DOUBLE},
        count = #{record.count,jdbcType=INTEGER},
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        select_flag = #{record.selectFlag,jdbcType=INTEGER},
        delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
        sku_id = #{record.skuId,jdbcType=INTEGER},
        s1 = #{record.s1,jdbcType=VARCHAR},
        s2 = #{record.s2,jdbcType=VARCHAR},
        s3 = #{record.s3,jdbcType=VARCHAR},
        s4 = #{record.s4,jdbcType=VARCHAR},
        s5 = #{record.s5,jdbcType=VARCHAR},
        activity_id = #{record.activityId,jdbcType=VARCHAR},
        sku = #{record.sku,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_cart
        set cart_id = #{record.cartId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        price = #{record.price,jdbcType=DOUBLE},
        count = #{record.count,jdbcType=INTEGER},
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        select_flag = #{record.selectFlag,jdbcType=INTEGER},
        delete_flag = #{record.deleteFlag,jdbcType=INTEGER},
        sku_id = #{record.skuId,jdbcType=INTEGER},
        s1 = #{record.s1,jdbcType=VARCHAR},
        s2 = #{record.s2,jdbcType=VARCHAR},
        s3 = #{record.s3,jdbcType=VARCHAR},
        s4 = #{record.s4,jdbcType=VARCHAR},
        s5 = #{record.s5,jdbcType=VARCHAR},
        activity_id = #{record.activityId,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.Cart">
        update t_cart
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="selectFlag != null">
                select_flag = #{selectFlag,jdbcType=INTEGER},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="s1 != null">
                s1 = #{s1,jdbcType=VARCHAR},
            </if>
            <if test="s2 != null">
                s2 = #{s2,jdbcType=VARCHAR},
            </if>
            <if test="s3 != null">
                s3 = #{s3,jdbcType=VARCHAR},
            </if>
            <if test="s4 != null">
                s4 = #{s4,jdbcType=VARCHAR},
            </if>
            <if test="s5 != null">
                s5 = #{s5,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                sku = #{sku,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where cart_id = #{cartId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baidu.ms.pojo.Cart">
    update t_cart
    set user_id = #{userId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      select_flag = #{selectFlag,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      s1 = #{s1,jdbcType=VARCHAR},
      s2 = #{s2,jdbcType=VARCHAR},
      s3 = #{s3,jdbcType=VARCHAR},
      s4 = #{s4,jdbcType=VARCHAR},
      s5 = #{s5,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=LONGVARCHAR}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.Cart">
    update t_cart
    set user_id = #{userId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      count = #{count,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      select_flag = #{selectFlag,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=INTEGER},
      s1 = #{s1,jdbcType=VARCHAR},
      s2 = #{s2,jdbcType=VARCHAR},
      s3 = #{s3,jdbcType=VARCHAR},
      s4 = #{s4,jdbcType=VARCHAR},
      s5 = #{s5,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=VARCHAR}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>