<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.CheckinRecordMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.CheckinRecord">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="activity_id" jdbcType="INTEGER" property="activityId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="first_checkin_time" jdbcType="TIMESTAMP" property="firstCheckinTime"/>
        <result column="last_checkin_time" jdbcType="TIMESTAMP" property="lastCheckinTime"/>
        <result column="total_times" jdbcType="INTEGER" property="totalTimes"/>
        <result column="total_continuou_times" jdbcType="INTEGER" property="totalContinuouTimes"/>
        <result column="points" jdbcType="INTEGER" property="points"/>
        <result column="coupons" jdbcType="VARCHAR" property="coupons"/>
        <result column="gifts" jdbcType="VARCHAR" property="gifts"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.baidu.ms.pojo.CheckinRecord">
        <result column="user_info" jdbcType="LONGVARCHAR" property="userInfo"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, activity_id, user_id, first_checkin_time, last_checkin_time, total_times, total_continuou_times, 
    points, coupons, gifts
  </sql>
    <sql id="Blob_Column_List">
    user_info
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.baidu.ms.pojo.CheckinRecordExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_checkin_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.CheckinRecordExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_checkin_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_checkin_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_checkin_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.CheckinRecordExample">
        delete from t_checkin_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.CheckinRecord">
    insert into t_checkin_record (id, activity_id, user_id, 
      first_checkin_time, last_checkin_time, 
      total_times, total_continuou_times, points, 
      coupons, gifts, user_info
      )
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{firstCheckinTime,jdbcType=TIMESTAMP}, #{lastCheckinTime,jdbcType=TIMESTAMP}, 
      #{totalTimes,jdbcType=INTEGER}, #{totalContinuouTimes,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, 
      #{coupons,jdbcType=VARCHAR}, #{gifts,jdbcType=VARCHAR}, #{userInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.CheckinRecord">
        insert into t_checkin_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="firstCheckinTime != null">
                first_checkin_time,
            </if>
            <if test="lastCheckinTime != null">
                last_checkin_time,
            </if>
            <if test="totalTimes != null">
                total_times,
            </if>
            <if test="totalContinuouTimes != null">
                total_continuou_times,
            </if>
            <if test="points != null">
                points,
            </if>
            <if test="coupons != null">
                coupons,
            </if>
            <if test="gifts != null">
                gifts,
            </if>
            <if test="userInfo != null">
                user_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="firstCheckinTime != null">
                #{firstCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastCheckinTime != null">
                #{lastCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalTimes != null">
                #{totalTimes,jdbcType=INTEGER},
            </if>
            <if test="totalContinuouTimes != null">
                #{totalContinuouTimes,jdbcType=INTEGER},
            </if>
            <if test="points != null">
                #{points,jdbcType=INTEGER},
            </if>
            <if test="coupons != null">
                #{coupons,jdbcType=VARCHAR},
            </if>
            <if test="gifts != null">
                #{gifts,jdbcType=VARCHAR},
            </if>
            <if test="userInfo != null">
                #{userInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.CheckinRecordExample" resultType="java.lang.Long">
        select count(*) from t_checkin_record
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_checkin_record
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.activityId != null">
                activity_id = #{record.activityId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.firstCheckinTime != null">
                first_checkin_time = #{record.firstCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastCheckinTime != null">
                last_checkin_time = #{record.lastCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.totalTimes != null">
                total_times = #{record.totalTimes,jdbcType=INTEGER},
            </if>
            <if test="record.totalContinuouTimes != null">
                total_continuou_times = #{record.totalContinuouTimes,jdbcType=INTEGER},
            </if>
            <if test="record.points != null">
                points = #{record.points,jdbcType=INTEGER},
            </if>
            <if test="record.coupons != null">
                coupons = #{record.coupons,jdbcType=VARCHAR},
            </if>
            <if test="record.gifts != null">
                gifts = #{record.gifts,jdbcType=VARCHAR},
            </if>
            <if test="record.userInfo != null">
                user_info = #{record.userInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_checkin_record
        set id = #{record.id,jdbcType=INTEGER},
        activity_id = #{record.activityId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        first_checkin_time = #{record.firstCheckinTime,jdbcType=TIMESTAMP},
        last_checkin_time = #{record.lastCheckinTime,jdbcType=TIMESTAMP},
        total_times = #{record.totalTimes,jdbcType=INTEGER},
        total_continuou_times = #{record.totalContinuouTimes,jdbcType=INTEGER},
        points = #{record.points,jdbcType=INTEGER},
        coupons = #{record.coupons,jdbcType=VARCHAR},
        gifts = #{record.gifts,jdbcType=VARCHAR},
        user_info = #{record.userInfo,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_checkin_record
        set id = #{record.id,jdbcType=INTEGER},
        activity_id = #{record.activityId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        first_checkin_time = #{record.firstCheckinTime,jdbcType=TIMESTAMP},
        last_checkin_time = #{record.lastCheckinTime,jdbcType=TIMESTAMP},
        total_times = #{record.totalTimes,jdbcType=INTEGER},
        total_continuou_times = #{record.totalContinuouTimes,jdbcType=INTEGER},
        points = #{record.points,jdbcType=INTEGER},
        coupons = #{record.coupons,jdbcType=VARCHAR},
        gifts = #{record.gifts,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.CheckinRecord">
        update t_checkin_record
        <set>
            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="firstCheckinTime != null">
                first_checkin_time = #{firstCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastCheckinTime != null">
                last_checkin_time = #{lastCheckinTime,jdbcType=TIMESTAMP},
            </if>
            <if test="totalTimes != null">
                total_times = #{totalTimes,jdbcType=INTEGER},
            </if>
            <if test="totalContinuouTimes != null">
                total_continuou_times = #{totalContinuouTimes,jdbcType=INTEGER},
            </if>
            <if test="points != null">
                points = #{points,jdbcType=INTEGER},
            </if>
            <if test="coupons != null">
                coupons = #{coupons,jdbcType=VARCHAR},
            </if>
            <if test="gifts != null">
                gifts = #{gifts,jdbcType=VARCHAR},
            </if>
            <if test="userInfo != null">
                user_info = #{userInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baidu.ms.pojo.CheckinRecord">
    update t_checkin_record
    set activity_id = #{activityId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      first_checkin_time = #{firstCheckinTime,jdbcType=TIMESTAMP},
      last_checkin_time = #{lastCheckinTime,jdbcType=TIMESTAMP},
      total_times = #{totalTimes,jdbcType=INTEGER},
      total_continuou_times = #{totalContinuouTimes,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      coupons = #{coupons,jdbcType=VARCHAR},
      gifts = #{gifts,jdbcType=VARCHAR},
      user_info = #{userInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.CheckinRecord">
    update t_checkin_record
    set activity_id = #{activityId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      first_checkin_time = #{firstCheckinTime,jdbcType=TIMESTAMP},
      last_checkin_time = #{lastCheckinTime,jdbcType=TIMESTAMP},
      total_times = #{totalTimes,jdbcType=INTEGER},
      total_continuou_times = #{totalContinuouTimes,jdbcType=INTEGER},
      points = #{points,jdbcType=INTEGER},
      coupons = #{coupons,jdbcType=VARCHAR},
      gifts = #{gifts,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>