<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.CouponCodeSnMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.CouponCodeSn">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="code_id" jdbcType="INTEGER" property="codeId"/>
        <result column="code_no" jdbcType="VARCHAR" property="codeNo"/>
        <result column="code_type" jdbcType="INTEGER" property="codeType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime"/>
        <result column="consume_user_id" jdbcType="INTEGER" property="consumeUserId"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="order_address" jdbcType="VARCHAR" property="orderAddress"/>
        <result column="discount_money" jdbcType="DOUBLE" property="discountMoney"/>
        <result column="verify_code" jdbcType="VARCHAR" property="verifyCode"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, shop_id, user_id, code_id, code_no, code_type, create_time, expire_time, receive_time, 
    consume_user_id, order_no, order_address, discount_money, verify_code, status
  </sql>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.CouponCodeSnExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_coupon_code_sn
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_coupon_code_sn
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_coupon_code_sn
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.CouponCodeSnExample">
        delete from t_coupon_code_sn
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.CouponCodeSn">
    insert into t_coupon_code_sn (id, shop_id, user_id, 
      code_id, code_no, code_type, 
      create_time, expire_time, receive_time, 
      consume_user_id, order_no, order_address, 
      discount_money, verify_code, status
      )
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{codeId,jdbcType=INTEGER}, #{codeNo,jdbcType=VARCHAR}, #{codeType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{consumeUserId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{orderAddress,jdbcType=VARCHAR}, 
      #{discountMoney,jdbcType=DOUBLE}, #{verifyCode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.CouponCodeSn">
        insert into t_coupon_code_sn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="codeId != null">
                code_id,
            </if>
            <if test="codeNo != null">
                code_no,
            </if>
            <if test="codeType != null">
                code_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="expireTime != null">
                expire_time,
            </if>
            <if test="receiveTime != null">
                receive_time,
            </if>
            <if test="consumeUserId != null">
                consume_user_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="orderAddress != null">
                order_address,
            </if>
            <if test="discountMoney != null">
                discount_money,
            </if>
            <if test="verifyCode != null">
                verify_code,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="codeId != null">
                #{codeId,jdbcType=INTEGER},
            </if>
            <if test="codeNo != null">
                #{codeNo,jdbcType=VARCHAR},
            </if>
            <if test="codeType != null">
                #{codeType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveTime != null">
                #{receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consumeUserId != null">
                #{consumeUserId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderAddress != null">
                #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="discountMoney != null">
                #{discountMoney,jdbcType=DOUBLE},
            </if>
            <if test="verifyCode != null">
                #{verifyCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.CouponCodeSnExample" resultType="java.lang.Long">
        select count(*) from t_coupon_code_sn
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_coupon_code_sn
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.shopId != null">
                shop_id = #{record.shopId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.codeId != null">
                code_id = #{record.codeId,jdbcType=INTEGER},
            </if>
            <if test="record.codeNo != null">
                code_no = #{record.codeNo,jdbcType=VARCHAR},
            </if>
            <if test="record.codeType != null">
                code_type = #{record.codeType,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.expireTime != null">
                expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.receiveTime != null">
                receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.consumeUserId != null">
                consume_user_id = #{record.consumeUserId,jdbcType=INTEGER},
            </if>
            <if test="record.orderNo != null">
                order_no = #{record.orderNo,jdbcType=VARCHAR},
            </if>
            <if test="record.orderAddress != null">
                order_address = #{record.orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="record.discountMoney != null">
                discount_money = #{record.discountMoney,jdbcType=DOUBLE},
            </if>
            <if test="record.verifyCode != null">
                verify_code = #{record.verifyCode,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_coupon_code_sn
        set id = #{record.id,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        code_id = #{record.codeId,jdbcType=INTEGER},
        code_no = #{record.codeNo,jdbcType=VARCHAR},
        code_type = #{record.codeType,jdbcType=INTEGER},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
        receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
        consume_user_id = #{record.consumeUserId,jdbcType=INTEGER},
        order_no = #{record.orderNo,jdbcType=VARCHAR},
        order_address = #{record.orderAddress,jdbcType=VARCHAR},
        discount_money = #{record.discountMoney,jdbcType=DOUBLE},
        verify_code = #{record.verifyCode,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.CouponCodeSn">
        update t_coupon_code_sn
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="codeId != null">
                code_id = #{codeId,jdbcType=INTEGER},
            </if>
            <if test="codeNo != null">
                code_no = #{codeNo,jdbcType=VARCHAR},
            </if>
            <if test="codeType != null">
                code_type = #{codeType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="consumeUserId != null">
                consume_user_id = #{consumeUserId,jdbcType=INTEGER},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="orderAddress != null">
                order_address = #{orderAddress,jdbcType=VARCHAR},
            </if>
            <if test="discountMoney != null">
                discount_money = #{discountMoney,jdbcType=DOUBLE},
            </if>
            <if test="verifyCode != null">
                verify_code = #{verifyCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.CouponCodeSn">
    update t_coupon_code_sn
    set shop_id = #{shopId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      code_id = #{codeId,jdbcType=INTEGER},
      code_no = #{codeNo,jdbcType=VARCHAR},
      code_type = #{codeType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      consume_user_id = #{consumeUserId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_address = #{orderAddress,jdbcType=VARCHAR},
      discount_money = #{discountMoney,jdbcType=DOUBLE},
      verify_code = #{verifyCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>