<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.DataFansVisitLocalMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.DataFansVisitLocal">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="province_Id" jdbcType="INTEGER" property="provinceId"/>
        <result column="uv" jdbcType="INTEGER" property="uv"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="calcu_date" jdbcType="TIMESTAMP" property="calcuDate"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, province_Id, uv, shop_id, calcu_date
  </sql>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.DataFansVisitLocalExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_data_fans_visit_local
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_data_fans_visit_local
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_data_fans_visit_local
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.DataFansVisitLocalExample">
        delete from t_data_fans_visit_local
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.DataFansVisitLocal">
    insert into t_data_fans_visit_local (id, province_Id, uv, 
      shop_id, calcu_date)
    values (#{id,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{uv,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{calcuDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.DataFansVisitLocal">
        insert into t_data_fans_visit_local
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="provinceId != null">
                province_Id,
            </if>
            <if test="uv != null">
                uv,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="calcuDate != null">
                calcu_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="uv != null">
                #{uv,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="calcuDate != null">
                #{calcuDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.DataFansVisitLocalExample" resultType="java.lang.Long">
        select count(*) from t_data_fans_visit_local
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_data_fans_visit_local
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.provinceId != null">
                province_Id = #{record.provinceId,jdbcType=INTEGER},
            </if>
            <if test="record.uv != null">
                uv = #{record.uv,jdbcType=INTEGER},
            </if>
            <if test="record.shopId != null">
                shop_id = #{record.shopId,jdbcType=INTEGER},
            </if>
            <if test="record.calcuDate != null">
                calcu_date = #{record.calcuDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_data_fans_visit_local
        set id = #{record.id,jdbcType=INTEGER},
        province_Id = #{record.provinceId,jdbcType=INTEGER},
        uv = #{record.uv,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        calcu_date = #{record.calcuDate,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.DataFansVisitLocal">
        update t_data_fans_visit_local
        <set>
            <if test="provinceId != null">
                province_Id = #{provinceId,jdbcType=INTEGER},
            </if>
            <if test="uv != null">
                uv = #{uv,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="calcuDate != null">
                calcu_date = #{calcuDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.DataFansVisitLocal">
    update t_data_fans_visit_local
    set province_Id = #{provinceId,jdbcType=INTEGER},
      uv = #{uv,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      calcu_date = #{calcuDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>