<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.GoodsSpecMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.GoodsSpec">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="product_code" jdbcType="VARCHAR" property="productCode"/>
        <result column="sku_name1" jdbcType="VARCHAR" property="skuName1"/>
        <result column="sku_value1" jdbcType="VARCHAR" property="skuValue1"/>
        <result column="sku_name2" jdbcType="VARCHAR" property="skuName2"/>
        <result column="sku_value2" jdbcType="VARCHAR" property="skuValue2"/>
        <result column="sku_name3" jdbcType="VARCHAR" property="skuName3"/>
        <result column="sku_value3" jdbcType="VARCHAR" property="skuValue3"/>
        <result column="sku_name4" jdbcType="VARCHAR" property="skuName4"/>
        <result column="sku_value4" jdbcType="VARCHAR" property="skuValue4"/>
        <result column="sku_name5" jdbcType="VARCHAR" property="skuName5"/>
        <result column="sku_value5" jdbcType="VARCHAR" property="skuValue5"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="sale_count" jdbcType="INTEGER" property="saleCount"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="fx_price" jdbcType="DOUBLE" property="fxPrice"/>
        <result column="product_price" jdbcType="DOUBLE" property="productPrice"/>
        <result column="supply_price" jdbcType="DOUBLE" property="supplyPrice"/>
        <result column="max_retail_price" jdbcType="DOUBLE" property="maxRetailPrice"/>
        <result column="min_retail_price" jdbcType="DOUBLE" property="minRetailPrice"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, goods_id, product_code, sku_name1, sku_value1, sku_name2, sku_value2, sku_name3, 
    sku_value3, sku_name4, sku_value4, sku_name5, sku_value5, price, sale_count, stock, 
    fx_price, product_price, supply_price, max_retail_price, min_retail_price
  </sql>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.GoodsSpecExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_goods_spec
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_spec
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_goods_spec
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.GoodsSpecExample">
        delete from t_goods_spec
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.GoodsSpec">
    insert into t_goods_spec (id, goods_id, product_code, 
      sku_name1, sku_value1, sku_name2, 
      sku_value2, sku_name3, sku_value3, 
      sku_name4, sku_value4, sku_name5, 
      sku_value5, price, sale_count, 
      stock, fx_price, product_price, 
      supply_price, max_retail_price, min_retail_price
      )
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{productCode,jdbcType=VARCHAR}, 
      #{skuName1,jdbcType=VARCHAR}, #{skuValue1,jdbcType=VARCHAR}, #{skuName2,jdbcType=VARCHAR}, 
      #{skuValue2,jdbcType=VARCHAR}, #{skuName3,jdbcType=VARCHAR}, #{skuValue3,jdbcType=VARCHAR}, 
      #{skuName4,jdbcType=VARCHAR}, #{skuValue4,jdbcType=VARCHAR}, #{skuName5,jdbcType=VARCHAR}, 
      #{skuValue5,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{saleCount,jdbcType=INTEGER}, 
      #{stock,jdbcType=INTEGER}, #{fxPrice,jdbcType=DOUBLE}, #{productPrice,jdbcType=DOUBLE}, 
      #{supplyPrice,jdbcType=DOUBLE}, #{maxRetailPrice,jdbcType=DOUBLE}, #{minRetailPrice,jdbcType=DOUBLE}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.GoodsSpec">
        insert into t_goods_spec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="productCode != null">
                product_code,
            </if>
            <if test="skuName1 != null">
                sku_name1,
            </if>
            <if test="skuValue1 != null">
                sku_value1,
            </if>
            <if test="skuName2 != null">
                sku_name2,
            </if>
            <if test="skuValue2 != null">
                sku_value2,
            </if>
            <if test="skuName3 != null">
                sku_name3,
            </if>
            <if test="skuValue3 != null">
                sku_value3,
            </if>
            <if test="skuName4 != null">
                sku_name4,
            </if>
            <if test="skuValue4 != null">
                sku_value4,
            </if>
            <if test="skuName5 != null">
                sku_name5,
            </if>
            <if test="skuValue5 != null">
                sku_value5,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="saleCount != null">
                sale_count,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="fxPrice != null">
                fx_price,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="supplyPrice != null">
                supply_price,
            </if>
            <if test="maxRetailPrice != null">
                max_retail_price,
            </if>
            <if test="minRetailPrice != null">
                min_retail_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="productCode != null">
                #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName1 != null">
                #{skuName1,jdbcType=VARCHAR},
            </if>
            <if test="skuValue1 != null">
                #{skuValue1,jdbcType=VARCHAR},
            </if>
            <if test="skuName2 != null">
                #{skuName2,jdbcType=VARCHAR},
            </if>
            <if test="skuValue2 != null">
                #{skuValue2,jdbcType=VARCHAR},
            </if>
            <if test="skuName3 != null">
                #{skuName3,jdbcType=VARCHAR},
            </if>
            <if test="skuValue3 != null">
                #{skuValue3,jdbcType=VARCHAR},
            </if>
            <if test="skuName4 != null">
                #{skuName4,jdbcType=VARCHAR},
            </if>
            <if test="skuValue4 != null">
                #{skuValue4,jdbcType=VARCHAR},
            </if>
            <if test="skuName5 != null">
                #{skuName5,jdbcType=VARCHAR},
            </if>
            <if test="skuValue5 != null">
                #{skuValue5,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="saleCount != null">
                #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="fxPrice != null">
                #{fxPrice,jdbcType=DOUBLE},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=DOUBLE},
            </if>
            <if test="supplyPrice != null">
                #{supplyPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxRetailPrice != null">
                #{maxRetailPrice,jdbcType=DOUBLE},
            </if>
            <if test="minRetailPrice != null">
                #{minRetailPrice,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.GoodsSpecExample" resultType="java.lang.Long">
        select count(*) from t_goods_spec
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_goods_spec
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.productCode != null">
                product_code = #{record.productCode,jdbcType=VARCHAR},
            </if>
            <if test="record.skuName1 != null">
                sku_name1 = #{record.skuName1,jdbcType=VARCHAR},
            </if>
            <if test="record.skuValue1 != null">
                sku_value1 = #{record.skuValue1,jdbcType=VARCHAR},
            </if>
            <if test="record.skuName2 != null">
                sku_name2 = #{record.skuName2,jdbcType=VARCHAR},
            </if>
            <if test="record.skuValue2 != null">
                sku_value2 = #{record.skuValue2,jdbcType=VARCHAR},
            </if>
            <if test="record.skuName3 != null">
                sku_name3 = #{record.skuName3,jdbcType=VARCHAR},
            </if>
            <if test="record.skuValue3 != null">
                sku_value3 = #{record.skuValue3,jdbcType=VARCHAR},
            </if>
            <if test="record.skuName4 != null">
                sku_name4 = #{record.skuName4,jdbcType=VARCHAR},
            </if>
            <if test="record.skuValue4 != null">
                sku_value4 = #{record.skuValue4,jdbcType=VARCHAR},
            </if>
            <if test="record.skuName5 != null">
                sku_name5 = #{record.skuName5,jdbcType=VARCHAR},
            </if>
            <if test="record.skuValue5 != null">
                sku_value5 = #{record.skuValue5,jdbcType=VARCHAR},
            </if>
            <if test="record.price != null">
                price = #{record.price,jdbcType=DOUBLE},
            </if>
            <if test="record.saleCount != null">
                sale_count = #{record.saleCount,jdbcType=INTEGER},
            </if>
            <if test="record.stock != null">
                stock = #{record.stock,jdbcType=INTEGER},
            </if>
            <if test="record.fxPrice != null">
                fx_price = #{record.fxPrice,jdbcType=DOUBLE},
            </if>
            <if test="record.productPrice != null">
                product_price = #{record.productPrice,jdbcType=DOUBLE},
            </if>
            <if test="record.supplyPrice != null">
                supply_price = #{record.supplyPrice,jdbcType=DOUBLE},
            </if>
            <if test="record.maxRetailPrice != null">
                max_retail_price = #{record.maxRetailPrice,jdbcType=DOUBLE},
            </if>
            <if test="record.minRetailPrice != null">
                min_retail_price = #{record.minRetailPrice,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_goods_spec
        set id = #{record.id,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        product_code = #{record.productCode,jdbcType=VARCHAR},
        sku_name1 = #{record.skuName1,jdbcType=VARCHAR},
        sku_value1 = #{record.skuValue1,jdbcType=VARCHAR},
        sku_name2 = #{record.skuName2,jdbcType=VARCHAR},
        sku_value2 = #{record.skuValue2,jdbcType=VARCHAR},
        sku_name3 = #{record.skuName3,jdbcType=VARCHAR},
        sku_value3 = #{record.skuValue3,jdbcType=VARCHAR},
        sku_name4 = #{record.skuName4,jdbcType=VARCHAR},
        sku_value4 = #{record.skuValue4,jdbcType=VARCHAR},
        sku_name5 = #{record.skuName5,jdbcType=VARCHAR},
        sku_value5 = #{record.skuValue5,jdbcType=VARCHAR},
        price = #{record.price,jdbcType=DOUBLE},
        sale_count = #{record.saleCount,jdbcType=INTEGER},
        stock = #{record.stock,jdbcType=INTEGER},
        fx_price = #{record.fxPrice,jdbcType=DOUBLE},
        product_price = #{record.productPrice,jdbcType=DOUBLE},
        supply_price = #{record.supplyPrice,jdbcType=DOUBLE},
        max_retail_price = #{record.maxRetailPrice,jdbcType=DOUBLE},
        min_retail_price = #{record.minRetailPrice,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.GoodsSpec">
        update t_goods_spec
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="productCode != null">
                product_code = #{productCode,jdbcType=VARCHAR},
            </if>
            <if test="skuName1 != null">
                sku_name1 = #{skuName1,jdbcType=VARCHAR},
            </if>
            <if test="skuValue1 != null">
                sku_value1 = #{skuValue1,jdbcType=VARCHAR},
            </if>
            <if test="skuName2 != null">
                sku_name2 = #{skuName2,jdbcType=VARCHAR},
            </if>
            <if test="skuValue2 != null">
                sku_value2 = #{skuValue2,jdbcType=VARCHAR},
            </if>
            <if test="skuName3 != null">
                sku_name3 = #{skuName3,jdbcType=VARCHAR},
            </if>
            <if test="skuValue3 != null">
                sku_value3 = #{skuValue3,jdbcType=VARCHAR},
            </if>
            <if test="skuName4 != null">
                sku_name4 = #{skuName4,jdbcType=VARCHAR},
            </if>
            <if test="skuValue4 != null">
                sku_value4 = #{skuValue4,jdbcType=VARCHAR},
            </if>
            <if test="skuName5 != null">
                sku_name5 = #{skuName5,jdbcType=VARCHAR},
            </if>
            <if test="skuValue5 != null">
                sku_value5 = #{skuValue5,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DOUBLE},
            </if>
            <if test="saleCount != null">
                sale_count = #{saleCount,jdbcType=INTEGER},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="fxPrice != null">
                fx_price = #{fxPrice,jdbcType=DOUBLE},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=DOUBLE},
            </if>
            <if test="supplyPrice != null">
                supply_price = #{supplyPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxRetailPrice != null">
                max_retail_price = #{maxRetailPrice,jdbcType=DOUBLE},
            </if>
            <if test="minRetailPrice != null">
                min_retail_price = #{minRetailPrice,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.GoodsSpec">
    update t_goods_spec
    set goods_id = #{goodsId,jdbcType=INTEGER},
      product_code = #{productCode,jdbcType=VARCHAR},
      sku_name1 = #{skuName1,jdbcType=VARCHAR},
      sku_value1 = #{skuValue1,jdbcType=VARCHAR},
      sku_name2 = #{skuName2,jdbcType=VARCHAR},
      sku_value2 = #{skuValue2,jdbcType=VARCHAR},
      sku_name3 = #{skuName3,jdbcType=VARCHAR},
      sku_value3 = #{skuValue3,jdbcType=VARCHAR},
      sku_name4 = #{skuName4,jdbcType=VARCHAR},
      sku_value4 = #{skuValue4,jdbcType=VARCHAR},
      sku_name5 = #{skuName5,jdbcType=VARCHAR},
      sku_value5 = #{skuValue5,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      sale_count = #{saleCount,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      fx_price = #{fxPrice,jdbcType=DOUBLE},
      product_price = #{productPrice,jdbcType=DOUBLE},
      supply_price = #{supplyPrice,jdbcType=DOUBLE},
      max_retail_price = #{maxRetailPrice,jdbcType=DOUBLE},
      min_retail_price = #{minRetailPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>