<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.PayConfigMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.PayConfig">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="pay_pluging_id" jdbcType="INTEGER" property="payPlugingId"/>
        <result column="poundage" jdbcType="DOUBLE" property="poundage"/>
        <result column="poundage_type" jdbcType="INTEGER" property="poundageType"/>
        <result column="partner_id" jdbcType="INTEGER" property="partnerId"/>
        <result column="partner_key" jdbcType="VARCHAR" property="partnerKey"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, shop_id, pay_pluging_id, poundage, poundage_type, partner_id, partner_key, status
  </sql>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.PayConfigExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_pay_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_pay_config
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_pay_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.PayConfigExample">
        delete from t_pay_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.PayConfig">
    insert into t_pay_config (id, shop_id, pay_pluging_id, 
      poundage, poundage_type, partner_id, 
      partner_key, status)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{payPlugingId,jdbcType=INTEGER}, 
      #{poundage,jdbcType=DOUBLE}, #{poundageType,jdbcType=INTEGER}, #{partnerId,jdbcType=INTEGER}, 
      #{partnerKey,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.PayConfig">
        insert into t_pay_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="payPlugingId != null">
                pay_pluging_id,
            </if>
            <if test="poundage != null">
                poundage,
            </if>
            <if test="poundageType != null">
                poundage_type,
            </if>
            <if test="partnerId != null">
                partner_id,
            </if>
            <if test="partnerKey != null">
                partner_key,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="payPlugingId != null">
                #{payPlugingId,jdbcType=INTEGER},
            </if>
            <if test="poundage != null">
                #{poundage,jdbcType=DOUBLE},
            </if>
            <if test="poundageType != null">
                #{poundageType,jdbcType=INTEGER},
            </if>
            <if test="partnerId != null">
                #{partnerId,jdbcType=INTEGER},
            </if>
            <if test="partnerKey != null">
                #{partnerKey,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.PayConfigExample" resultType="java.lang.Long">
        select count(*) from t_pay_config
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_pay_config
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.shopId != null">
                shop_id = #{record.shopId,jdbcType=INTEGER},
            </if>
            <if test="record.payPlugingId != null">
                pay_pluging_id = #{record.payPlugingId,jdbcType=INTEGER},
            </if>
            <if test="record.poundage != null">
                poundage = #{record.poundage,jdbcType=DOUBLE},
            </if>
            <if test="record.poundageType != null">
                poundage_type = #{record.poundageType,jdbcType=INTEGER},
            </if>
            <if test="record.partnerId != null">
                partner_id = #{record.partnerId,jdbcType=INTEGER},
            </if>
            <if test="record.partnerKey != null">
                partner_key = #{record.partnerKey,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_pay_config
        set id = #{record.id,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        pay_pluging_id = #{record.payPlugingId,jdbcType=INTEGER},
        poundage = #{record.poundage,jdbcType=DOUBLE},
        poundage_type = #{record.poundageType,jdbcType=INTEGER},
        partner_id = #{record.partnerId,jdbcType=INTEGER},
        partner_key = #{record.partnerKey,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.PayConfig">
        update t_pay_config
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="payPlugingId != null">
                pay_pluging_id = #{payPlugingId,jdbcType=INTEGER},
            </if>
            <if test="poundage != null">
                poundage = #{poundage,jdbcType=DOUBLE},
            </if>
            <if test="poundageType != null">
                poundage_type = #{poundageType,jdbcType=INTEGER},
            </if>
            <if test="partnerId != null">
                partner_id = #{partnerId,jdbcType=INTEGER},
            </if>
            <if test="partnerKey != null">
                partner_key = #{partnerKey,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.PayConfig">
    update t_pay_config
    set shop_id = #{shopId,jdbcType=INTEGER},
      pay_pluging_id = #{payPlugingId,jdbcType=INTEGER},
      poundage = #{poundage,jdbcType=DOUBLE},
      poundage_type = #{poundageType,jdbcType=INTEGER},
      partner_id = #{partnerId,jdbcType=INTEGER},
      partner_key = #{partnerKey,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>