<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.RqcodeLogMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.RqcodeLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rqcode_id" jdbcType="INTEGER" property="rqcodeId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="scan_time" jdbcType="TIMESTAMP" property="scanTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.baidu.ms.pojo.RqcodeLog">
        <result column="user_info" jdbcType="LONGVARCHAR" property="userInfo"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, rqcode_id, user_id, scan_time
  </sql>
    <sql id="Blob_Column_List">
    user_info
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.baidu.ms.pojo.RqcodeLogExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_rqcode_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.RqcodeLogExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_rqcode_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from t_rqcode_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_rqcode_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.RqcodeLogExample">
        delete from t_rqcode_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.RqcodeLog">
    insert into t_rqcode_log (id, rqcode_id, user_id, 
      scan_time, user_info)
    values (#{id,jdbcType=INTEGER}, #{rqcodeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{scanTime,jdbcType=TIMESTAMP}, #{userInfo,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.RqcodeLog">
        insert into t_rqcode_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="rqcodeId != null">
                rqcode_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="scanTime != null">
                scan_time,
            </if>
            <if test="userInfo != null">
                user_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="rqcodeId != null">
                #{rqcodeId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="scanTime != null">
                #{scanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userInfo != null">
                #{userInfo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.RqcodeLogExample" resultType="java.lang.Long">
        select count(*) from t_rqcode_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_rqcode_log
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.rqcodeId != null">
                rqcode_id = #{record.rqcodeId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.scanTime != null">
                scan_time = #{record.scanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.userInfo != null">
                user_info = #{record.userInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update t_rqcode_log
        set id = #{record.id,jdbcType=INTEGER},
        rqcode_id = #{record.rqcodeId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        scan_time = #{record.scanTime,jdbcType=TIMESTAMP},
        user_info = #{record.userInfo,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_rqcode_log
        set id = #{record.id,jdbcType=INTEGER},
        rqcode_id = #{record.rqcodeId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        scan_time = #{record.scanTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.RqcodeLog">
        update t_rqcode_log
        <set>
            <if test="rqcodeId != null">
                rqcode_id = #{rqcodeId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="scanTime != null">
                scan_time = #{scanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userInfo != null">
                user_info = #{userInfo,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.baidu.ms.pojo.RqcodeLog">
    update t_rqcode_log
    set rqcode_id = #{rqcodeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      scan_time = #{scanTime,jdbcType=TIMESTAMP},
      user_info = #{userInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.RqcodeLog">
    update t_rqcode_log
    set rqcode_id = #{rqcodeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      scan_time = #{scanTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>