<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.ms.mapper.ShopVisitLogMapper">
    <resultMap id="BaseResultMap" type="com.baidu.ms.pojo.ShopVisitLog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="page_type" jdbcType="INTEGER" property="pageType"/>
        <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="network_type" jdbcType="INTEGER" property="networkType"/>
        <result column="system_device" jdbcType="VARCHAR" property="systemDevice"/>
        <result column="browser" jdbcType="INTEGER" property="browser"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, shop_id, user_id, page_type, page_title, url, source, ip, network_type, system_device, 
    browser, createtime
  </sql>
    <select id="selectByExample" parameterType="com.baidu.ms.pojo.ShopVisitLogExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_shop_visit_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_shop_visit_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shop_visit_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.baidu.ms.pojo.ShopVisitLogExample">
        delete from t_shop_visit_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.baidu.ms.pojo.ShopVisitLog">
    insert into t_shop_visit_log (id, shop_id, user_id, 
      page_type, page_title, url, 
      source, ip, network_type, 
      system_device, browser, createtime
      )
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{pageType,jdbcType=INTEGER}, #{pageTitle,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{networkType,jdbcType=INTEGER}, 
      #{systemDevice,jdbcType=VARCHAR}, #{browser,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.baidu.ms.pojo.ShopVisitLog">
        insert into t_shop_visit_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="pageType != null">
                page_type,
            </if>
            <if test="pageTitle != null">
                page_title,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="networkType != null">
                network_type,
            </if>
            <if test="systemDevice != null">
                system_device,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="pageType != null">
                #{pageType,jdbcType=INTEGER},
            </if>
            <if test="pageTitle != null">
                #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="networkType != null">
                #{networkType,jdbcType=INTEGER},
            </if>
            <if test="systemDevice != null">
                #{systemDevice,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.baidu.ms.pojo.ShopVisitLogExample" resultType="java.lang.Long">
        select count(*) from t_shop_visit_log
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_shop_visit_log
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.shopId != null">
                shop_id = #{record.shopId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.pageType != null">
                page_type = #{record.pageType,jdbcType=INTEGER},
            </if>
            <if test="record.pageTitle != null">
                page_title = #{record.pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null">
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.source != null">
                source = #{record.source,jdbcType=VARCHAR},
            </if>
            <if test="record.ip != null">
                ip = #{record.ip,jdbcType=VARCHAR},
            </if>
            <if test="record.networkType != null">
                network_type = #{record.networkType,jdbcType=INTEGER},
            </if>
            <if test="record.systemDevice != null">
                system_device = #{record.systemDevice,jdbcType=VARCHAR},
            </if>
            <if test="record.browser != null">
                browser = #{record.browser,jdbcType=INTEGER},
            </if>
            <if test="record.createtime != null">
                createtime = #{record.createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_shop_visit_log
        set id = #{record.id,jdbcType=INTEGER},
        shop_id = #{record.shopId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        page_type = #{record.pageType,jdbcType=INTEGER},
        page_title = #{record.pageTitle,jdbcType=VARCHAR},
        url = #{record.url,jdbcType=VARCHAR},
        source = #{record.source,jdbcType=VARCHAR},
        ip = #{record.ip,jdbcType=VARCHAR},
        network_type = #{record.networkType,jdbcType=INTEGER},
        system_device = #{record.systemDevice,jdbcType=VARCHAR},
        browser = #{record.browser,jdbcType=INTEGER},
        createtime = #{record.createtime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.baidu.ms.pojo.ShopVisitLog">
        update t_shop_visit_log
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="pageType != null">
                page_type = #{pageType,jdbcType=INTEGER},
            </if>
            <if test="pageTitle != null">
                page_title = #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="networkType != null">
                network_type = #{networkType,jdbcType=INTEGER},
            </if>
            <if test="systemDevice != null">
                system_device = #{systemDevice,jdbcType=VARCHAR},
            </if>
            <if test="browser != null">
                browser = #{browser,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.baidu.ms.pojo.ShopVisitLog">
    update t_shop_visit_log
    set shop_id = #{shopId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      page_type = #{pageType,jdbcType=INTEGER},
      page_title = #{pageTitle,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      network_type = #{networkType,jdbcType=INTEGER},
      system_device = #{systemDevice,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>