<div class="app-init-container" ng-controller="ActivityListController">
    <div class="app__content js-app-main">
        <div class="widget-list">
            <div class="js-list-filter-region clearfix">
                <div class="widget-list-filter">
                    <form class="form-horizontal ui-box list-filter-form" onsubmit="return false;"
                          ng-enter='pageChanged()'>
                        <div class="clearfix">
                            <div class="filter-groups" style='float:left;'>
                                <div class="control-group">
                                    <label class="control-label">活动主题：</label>
                                    <div class="controls">
                                        <input type="text" ng-model="name" style="height: 30px;">
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left" style='float:left;'>
                                <div class="time-filter-groups clearfix">
                                    <div class="control-group">
                                        <label class="control-label">活动开始时间：</label>
                                        <div class="controls">
                                            <input type="text" id="beginCreateTime" ng-model="beginCreateTime"
                                                   date-picker='{"dateFmt":"yyyy-MM-dd HH:mm:ss"}'
                                                   class="Wdate" style="width: 150px; height: 30px;"> <span>至</span>
                                            <input type="text" id="endCreateTime" ng-model="endCreateTime"
                                                   date-picker='{"dateFmt":"yyyy-MM-dd HH:mm:ss"}'
                                                   class="Wdate" style="width: 150px; height: 30px;"> <span
                                                class="date-quick-pick" ng-click="setQueryTime(-6)">最近7天</span>
                                            <span class="date-quick-pick" ng-click="setQueryTime(-29)">最近30天</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <div class="ui-btn-group">
                                    <a href="javascript:;" class="ui-btn ui-btn-success js-filter"
                                       ui-sref="console.activity_edit({id:0})">新建活动</a>
                                    <a href="javascript:;" class="ui-btn ui-btn-primary js-filter"
                                       data-loading-text="正在筛选..." ng-click="pageChanged()">筛选</a> <a
                                        href="javascript:;" class="ui-btn js-export">批量导出</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="ui-box">
                <table class="ui-table-order" style="padding: 0px;">
                    <thead class="js-list-header-region tableFloatingHeaderOriginal">
                    <tr class="widget-list-header">
                        <th>活动主题</th>
                        <th>创建时间</th>
                        <th>活动开始时间</th>
                        <th>活动结束时间</th>
                        <th>活动状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="js-list-body-region">
                    <tr class="widget-list-item" ng-repeat="data in pageData.list track by $index">
                        <td>{{data.title}}</td>
                        <td>{{data.create_time}}</td>
                        <td>{{data.begin_time}}</td>
                        <td>{{data.end_time}}</td>
                        <td>
                            <span ng-if="data.status==0">未开始</span>
                            <span ng-if="data.status==1">进行中</span>
                            <span ng-if="data.status==2">暂停中</span>
                            <span ng-if="data.status==3">已结束</span>
                            <span ng-if="data.status==4">已失效</span>
                        </td>
                        <td>
                            <a class="btn btn-info" ui-sref="console.activity_edit({id:data.id})">编辑</a>
                            <a ng-if="data.status==1" class="btn btn-danger"
                               ng-click="suspendActivity(data.id)">暂停活动</a>
                            <a ng-if="data.status==2" class="btn btn-success"
                               ng-click="resumeActivity(data.id)">恢复活动</a>
                            <a ng-if="data.status==1 ||data.status==2 " class="btn btn-danger"
                               ng-click="stopActivity(data.id)">停止活动</a>
                            <a ng-if="data.status==1 ||data.status==2 " class="btn btn-danger"
                               ng-click="invalidActivity(data.id)">失效活动</a>
                            <a ng-if="data.status==3" class="btn btn-success"
                               ui-sref="console.activity_awards({id:data.id})">发送奖品</a>
                            <a id="console{{$index}}" ng-show="data.status==0"
                               class="btn btn-danger js-add-sku-atom add-sku" ng-click="delActivity(data.id,data)"
                               style="font-style:normal">删除</a>
                            <a class="btn btn-info"
                               ui-sref="console.activity_participation_list({id:data.id})">活动参与者</a>
                            <div class="btn-group dropdown" dropdown="">
                                <a class="btn btn-warning" dropdown-toggle="" aria-haspopup="true"
                                   aria-expanded="false">活动奖金发放 <span class="caret"></span></a>
                                <!--ui-sref="console.activity_awards({id:data.id})"-->
                                <ul class="dropdown-menu">
                                    <li ng-repeat="month in months"><a
                                            ui-sref="console.activity_awards({id:data.id,cycle:month.value})">{{month.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="js-list-empty-region"></div>
            </div>
            <div class="js-list-footer-region ui-box">
                <div class="widget-list-footer" ng-show="pageData.totalRow>0">
                    <custom-pagination boundary-links="true" ng-change="pageChanged()"
                                       total-items="pageData.totalRow" ng-model="pageData.pageNumber"
                                       page-size="pageData.pageSize" class="pagination-sm m-t-none m-b"
                                       previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                                       last-text="&raquo;"></custom-pagination>
                </div>
                <div ng-show="(pageData.totalRow==0)||(pageData=='')"
                     style="text-align: center;">没有找到相关记录!
                </div>
            </div>
        </div>
    </div>
</div>