<link rel="stylesheet" href="./css/newsettlement.css" type="text/css">
<div class="app-init-container" ng-controller="AccountApplyWithDrawalController">

    <nav class="ui-nav clearfix">
        <ul class="pull-left">
            <li id="js-nav-settlement-income" class="">
                <a ui-sref="console.account">我的收入</a>
            </li>
            <li id="js-nav-settlement-trade" class="">
                <a ui-sref="console.trading_list">交易记录</a>
            </li>
            <li id="js-nav-settlement-inoutdetail" class="">
                <a ui-sref="console.income_detail">收支明细</a>
            </li>
            <li id="js-nav-settlement-withdraw" class="">
                <a ui-sref="console.withdrawals_record">提现记录</a>
            </li>
            <li id="js-nav-settlement-applywithdrawal" class="active">
                <a ui-sref="#">申请提现</a>
            </li>

        </ul>
        <div class="common-helps-entry pull-right">
            <a href="" target="_blank">
                <span class="help-icon"></span>
                收入／提现常见问题总结
            </a>
        </div>
    </nav>
    <div class="app__content js-app-main">
        <div class="page-settlement">
            <div class="ui-box applyWithdrawal-region">
                <form name="applyForm" class="form-validation form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">可提现金额：</label>

                            <div class="controls">
                                <span class="money">{{account.available_money}}</span>
                                <span class="unit">元</span>
                            </div>
                        </div>
                        <div class="control-group bank-group">
                            <label class="control-label"><em class="required">*</em>选择提现银行：</label>

                            <div class="controls js-bank-list-region">
                                <ul>
                                    <li class="bank" ng-repeat="item in bankList"
                                        ng-class="{'active':item.id == data.id}" ng-click="selectBankCard(item)">
                                        <span class="bank_name">{{item.bank_name}}</span>
                                        <div class="dropdown hover dropdown-right">
                                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="txt">
                                                    管理
                                                </span>
                                                <i class="caret"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="js-default" ng-click="setDefaultBankCard(item)">设为默认</a>
                                                </li>
                                                <li><a ui-sref="app.settingWithdrawal({id:{{item.id}}})"
                                                       class="js-edit">编辑</a></li>
                                                <li><a class="js-delete" mwl-confirm
                                                       title="提示"
                                                       message="您确定删除当前银行卡记录？"
                                                       placement="top"
                                                       on-confirm="deleteBankCard(item)">删除</a></li>
                                            </ul>
                                        </div>
                                        <span class="c-gray account_name">{{item.account_name}}（{{item.account_no}}）</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- 最多只能添加5张银行卡 -->

                            <div class="controls" style="padding-top: 5px;">
                                <a ui-sref="console.settingWithdrawal" class="">添加银行卡</a>
                            </div>

                        </div>
                        <div class="control-group">
                            <label class="control-label"><em class="required">*</em>提现金额：</label>

                            <div class="controls">
                                <input class="js-money" type="number" ng-model="data.money" name="money"
                                       placeholder="最多可输入{{account.available_money}}" required/>&nbsp;&nbsp;元
                            </div>
                        </div>
                        <div class="control-group period-group">
                            <label class="control-label">提现审核周期：</label>

                            <div class="controls">
                                <span>1个工作日完成</span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary js-submit" ng-click="submitApply()"
                                ng-disabled="form.$invalid || !canSubmit()">确认提现
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>