<div class="app-add-field">
                        <h4>添加内容</h4>
                        <ul>
                            <li><a class="js-new-field" data-field-type="rich_text" ng-click="add('rich_text')">富文本</a></li>
                            <li><a class="js-new-field" data-field-type="goods" ng-click="add('goods')">商品</a></li>
                            <li><a class="js-new-field" data-field-type="goods_list" ng-click="add('goods_list')">商品<br>列表</a></li>
                            <li><a class="js-new-field" data-field-type="image_ad" ng-click="add('image_ad')">图片<br>广告</a></li>
                            <li><a class="js-new-field" data-field-type="cube2" ng-click="add('cube2')">魔方</a></li>
                            <li><a class="js-new-field" data-field-type="title" ng-click="add('title')">标题</a></li>
                            <li><a class="js-new-field" data-field-type="text_nav" ng-click="add('text_nav')">文本<br>导航</a></li>
                            <li><a class="js-new-field" data-field-type="nav" ng-click="add('nav')">图片<br>导航</a></li>
                            <li><a class="js-new-field" data-field-type="link" ng-click="add('link')">关联<br>链接</a></li>
                            <li><a class="js-new-field" data-field-type="search" ng-click="add('search')">商品<br>搜索</a></li>
                            <li><a class="js-new-field" data-field-type="showcase" ng-click="add('showcase')">橱窗</a></li>
                            <li><a class="js-new-field" data-field-type="line" ng-click="add('line')">辅助线</a></li>
                            <li><a class="js-new-field" data-field-type="white" ng-click="add('white')">辅助<br>空白</a></li>
                            <li><a class="js-new-field" data-field-type="component" ng-click="add('component')">自定义<br>模块</a></li>
                            <li><a class="js-new-field" data-field-type="store" ng-click="add('store')">进入<br>店铺</a></li>
                            <li><a class="js-new-field" data-field-type="tag_list" ng-click="add('tag_list')">商品<br>分组1</a></li>
                            <li><a class="js-new-field" data-field-type="tags" ng-click="add('tags')">商品<br>分组2</a></li>
                            <li><a class="js-new-field" data-field-type="audio" ng-click="add('audio')">语音</a></li>
                            <li><a class="js-new-field" data-field-type="notice" ng-click="add('notice')">公告</a></li>
                            <li><a class="js-new-field" data-field-type="coupon" ng-click="add('coupon')">优惠券</a></li>
                        </ul>
                    </div>