<form class="form-horizontal" novalidate ng-controller="UIFeatureConfigController">
	<div class="control-group">
		<label class="control-label"><em class="required">*</em>页面名称：</label>
		<div class="controls">
			<input class="input-xxlarge" type="text" name="title" ng-model="data.title">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">页面描述：</label>
		<div class="controls">
			<input class="input-xxlarge" type="text" name="description" ng-model="data.description"
				 placeholder="用户通过微信分享给朋友时，会自动显示页面描述">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">分类：</label>
		<div class="controls">
			<ui-select multiple ng-model="choices.categorys" theme="bootstrap" ng-disabled="disabled">
				<ui-select-match placeholder="请选择分类">{{$item.title}}</ui-select-match>
				<ui-select-choices repeat="category in categoryList | propsFilter: {title: $select.search}">
					<div ng-bind-html="category.title | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">背景颜色：</label>
		<div class="controls">
			<input type="color" ng-model="data.color">
			<button class="btn js-reset-bg" type="button">重置</button>
			<p class="help-desc">背景颜色只在手机端显示。</p>
		</div>
	</div>
</form>