.modal-refund {
    width: 360px;
    margin-left: -180px
}

.modal-refund .form-horizontal {
    margin-bottom: 0
}

.modal-refund .form-horizontal .control-label {
    width: 85px
}

.modal-refund .form-horizontal .controls {
    margin-left: 95px
}

.modal-refund .form-horizontal .form-actions {
    padding-left: 95px
}

.modal-refund .important-msg {
    padding: 8px 14px 8px 14px
}

.widget-order-express .form-horizontal {
    margin-bottom: 0
}

.widget-order-express .form-horizontal .control-label {
    width: 70px
}

.widget-order-express .form-horizontal .controls {
    margin-left: 80px
}

.widget-order-express .form-horizontal .controls label {
    font-size: 14px
}

.widget-order-express .form-horizontal .controls input[type="radio"] {
    margin-top: 2px
}

.widget-order-express .form-horizontal .controls input[type="text"] {
    width: 188px
}

.widget-order-express .form-horizontal .control-2-col .control-group {
    float: left;
    width: 50%
}

.widget-order-express .ui-table {
    margin-bottom: 20px
}

.widget-order-express .ui-table input[type="checkbox"] {
    margin: 0
}

.widget-order-cancel {
    width: 254px;
    margin-left: -127px
}

.widget-order-cancel select {
    height: 36px
}

.widget-order-cancel .error-message {
    display: none
}

.widget-order-cancel .actions {
    margin-top: 8px
}

.widget-order-cancel .actions .ui-btn {
    min-width: 60px
}

.widget-order-cancel .actions .ui-btn + .ui-btn {
    margin-left: 8px
}

.list-filter-form {
    padding: 20px 0px 10px;
    background: #f8f8f8;
    border: 1px solid #f2f2f2
}

.list-filter-form .ui-btn {
    min-width: 54px
}

.list-filter-form.form-horizontal .control-label {
    width: 90px;
    font-size: 12px
}

.list-filter-form.form-horizontal .controls {
    margin-left: 95px
}

.list-filter-form.form-horizontal .time-end .control-label {
    width: 20px;
    text-align: center
}

.list-filter-form.form-horizontal .time-end .controls {
    margin-left: 30px
}

.list-filter-form.form-horizontal .time-end .controls input {
    width: 205px
}

.list-filter-form .filter-groups {
    float: left;
    margin-right: 10px
}

.list-filter-form .filter-groups:first-child select, .list-filter-form .filter-groups:first-child input {
    width: 200px
}

.list-filter-form .filter-groups select, .list-filter-form .filter-groups input {
    width: 140px;
    height: 28px;
    font-size: 12px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.list-filter-form .time-filter-groups .select {
    padding-top: 0
}

.list-filter-form .time-filter-groups .select select {
    width: 85px;
    font-size: 12px
}

.list-filter-form .time-filter-groups input {
    width: 125px
}

.list-filter-form .time-filter-groups .date-quick-pick {
    display: inline-block;
    color: #07d;
    cursor: pointer;
    padding: 2px 4px;
    border: 1px solid transparent;
    margin-left: 12px;
    border-radius: 4px
}

.list-filter-form .time-filter-groups .date-quick-pick:hover {
    border-color: #ddd
}

.list-filter-form .time-filter-groups .date-quick-pick.current {
    background: #fff;
    border-color: #07d
}

.list-filter-form .time-filter-groups .date-quick-pick + .date-quick-pick {
    margin-left: 0
}

.filter-meta {
    float: left;
    min-width: 200px;
    margin-top: 12px
}

.wx-buyway, .alipay-buyway {
    display: inline-block;
    border-radius: 4px;
    color: #FFF;
    padding: 0 5px;
    line-height: 17px;
    height: 17px
}

.wx-buyway {
    background-color: #66CC00
}

.alipay-buyway {
    background-color: #FF9900
}

.upload-file {
    position: relative
}

input.upload-file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 28px;
    opacity: 0;
    cursor: default
}

.table tbody > tr:last-of-type {
    border-bottom-color: #f2f2f2
}

.table tbody > tr:hover {
    background: transparent
}

.table td > .td-cont, .table th > .td-cont {
    padding-left: 5px
}

.order-complain .order-item {
    background-color: #FFC
}

.order-complain .order-item:hover {
    background-color: #FFC
}

.table tbody > tr.sep-row {
    height: 7px;
    border: 0 none
}

.ui-table-order .customer-cell {
    word-break: break-all;
    width: 95px
}

.order-price-table {
    table-layout: fixed
}

.order-price-table th, .order-price-table td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.order-price-table thead tr > th {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #E4E4E4
}

.order-price-table tr > th, .order-price-table tr > td {
    padding: 5px 0 5px 5px
}

.order-price-table tbody tr {
    border-bottom: 0 none
}

.order-price-table .tb-name {
    width: 140px
}

.order-price-table .tb-price {
    width: 70px
}

.order-price-table .tb-num {
    width: 40px
}

.order-price-table .tb-total {
    width: 70px
}

.order-price-table .tb-coupon {
    width: 100px
}

.order-price-table .tb-discount {
    width: 100px
}

.order-price-table .tb-postage {
    width: 76px
}

.order-price form {
    margin-bottom: 0
}

.order-price .final p {
    margin: 0
}

.decrease-color {
    color: #009900
}

.order-title {
    font-size: 16px;
    color: #FF6600;
    height: 40px;
    line-height: 40px;
    background-color: #F2F2F2;
    padding: 0 10px;
    margin: 10px 0
}

.page-trade-order-detail .dashed-line {
    border-top: 1px dashed #e5e5e5
}

.page-trade-order-detail .step-region, .page-trade-order-detail .content-region {
    border: 1px solid #e5e5e5;
    margin-bottom: 15px
}

.page-trade-order-detail .info-region, .page-trade-order-detail .state-region {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-trade-order-detail .info-region {
    width: 320px;
    padding: 15px;
    border-right: 1px solid #e5e5e5
}

.page-trade-order-detail .info-region h3 {
    font-size: 14px;
    font-weight: bold
}

.page-trade-order-detail .info-region table {
    margin-top: 10px
}

.page-trade-order-detail .info-region table th {
    text-align: right;
    color: #999;
    width: 60px
}

.page-trade-order-detail .info-region table th, .page-trade-order-detail .info-region table td {
    padding: 0 0 10px 0;
    vertical-align: top
}

.page-trade-order-detail .state-region {
    width: 520px
}