<div class="control-group">
	<label class="control-label"><em class="required">*</em>分组名称：</label>
	<div class="controls">
		<input class="input-xxlarge" type="text" name="title" ng-model="data.title" ng-readonly="data.is_default != '0'">
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<label class="checkbox">
			<input type="checkbox" name="show_tag_title" ng-model="data.show_tag_title" ng-true-value="1" ng-false-value="0"  ng-checked="data.show_tag_title==1">
			<span>页面上显示商品分组名称</span>
		</label>
	</div>
</div>
<div ng-show="data.is_default == '0'" class="control-group">
	<label class="control-label">第一优先级：</label>
	<div class="controls">
		<select name="first_priority" ng-model="data.first_priority">
			<option value="0">序号越大越靠前</option>
			<option value="1">创建时间越晚越靠前</option>
			<option value="2">创建时间越早越靠前</option>
			<option value="3">最热的排在前面</option>
		</select>
	</div>
</div>
<div ng-show="data.is_default == '0'" class="control-group">
	<label class="control-label">第二优先级：</label>
	<div class="controls">
		<select name="second_priority" ng-model="data.second_priority">
			<option value="0">序号越大越靠前</option>
			<option value="1">创建时间越晚越靠前</option>
			<option value="2">创建时间越早越靠前</option>
			<option value="3">最热的排在前面</option>
		</select>
	</div>
</div>
<div class="js-goods-style-region" style="margin-top: 10px;" ng-include="'tpl/showcase/tpl_goodstag/edit_goods_style.html'"></div>