<div class="control-group">
    <ul ng-show="item.sub_entry.length >0" class="custom-nav-4 clearfix">
        <li ng-repeat="subItem in item.sub_entry">
                <span class="nav-img-wap">
                    <img ng-src="{{subItem.image_url}}">
                </span>
            <span ng-if="subItem.title !=''" class="title">{{subItem.title}}</span>
        </li>
    </ul>
    <div class="component-border"></div>
</div>
<div class="actions">
    <div class="actions-wrap"><span class="action edit" ng-click="edit(item)">编辑</span><span class="action add" ng-click="append($index,$event)">加内容</span><span class="action delete" ng-click="del(item,$event)">删除</span></div>
</div>
<div class="sort">
    <i class="sort-handler"></i>
</div>
