<div class="app-init-container" ng-controller="ProxyQualificationAuthController">
	<nav class="ui-nav clearfix">
	<ul class="pull-left">
		<li>
			<a ui-sref="app.customer_label_list">分销商认证</a>
		</li>
	</ul>
	</nav>

	<div class="app__content">
		<form class="js-page-form form-horizontal ui-form" method="POST" novalidate="novalidate">
			<div class="control-group">
				<label class="control-label">店铺名称:</label>
				<div class="controls">
					<a href='{{proxy.url}}' target="blank">{{proxy.shop_name}}</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">店铺地址:</label>
				<div class="controls">
					{{proxy.province_name}}
					{{proxy.city_name}}
					{{proxy.area_name}}
					{{proxy.street_name}}
					{{proxy.shop_address}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">经营类目:</label>
				<div class="controls">
					{{goodsCategoryNames}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">真实姓名:</label>
				<div class="controls">
					{{proxy.real_name}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">身份证号码:</label>
				<div class="controls">
					{{proxy.identity_num}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">身份证:</label>
				<div class="controls" >
					<img ng-if='proxy.identity_pic_1.length>0' src="img/view?path={{proxy.identity_pic_1}}&w=300&h=300"/>
					<img ng-if='proxy.identity_pic_2.length>0' src="img/view?path={{proxy.identity_pic_2}}&w=300&h=300"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">注册时间:</label>
				<div class="controls">
					{{proxy.create_time}}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">认证状态:</label>
				<div class="controls">
					<select ng-model="status" style="height: 30px;width: 100px;">
						<option value="0">待审核</option>
						<option value="1">审核中</option>
						<option value="2">审核通过</option>
						<option value="3">审核不通过</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">审核备注:</label>
				<div class="controls">
					<textarea ng-model="audit_remark"></textarea>
				</div>
			<div class="control-group">
			<div class="form-actions">
				<input class="btn btn-primary js-btn-save" type="button" value="保存" ng-click="save()">
				<input type="button" class="btn btn-default" value="返回" ng-click="cancel()">
			</div>
		</form>
	</div>
</div>