<div class="app-init-container" ng-controller="ProxyListController">
	<div class="app__content js-app-main">
		<div class="goods-list">
			<div class="js-list-filter-region clearfix ui-box"
				style="position: relative; text-align: right;">
				<div class="widget-list-filter">
					<div class="filter-box" ng-enter='pageChanged()'>
						<div class="js-list-search seach-box">
							审核状态：
							<select name="auth_status" style="height: 30px;"
								ng-model="auth_status">
								<option value="">全部</option>
								<option value="0">待认证</option>
								<option value="1">认证中</option>
								<option value="2">已认证</option>
								<option value="3">认证不通过</option>
							</select>										
							分销商：<input ng-model="nickname" type="text" class="input-sm" />
							手机号码：<input ng-model="mobile" type="text" class="input-sm" />
							<button class="btn btn-sm btn-default" type="button"
								ng-click="pageChanged()">Go!</button>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-box">
				<div class="panel panel-default">
					<table class="ui-table ui-table-list" style="padding: 0px;">
						<thead class="js-list-header-region tableFloatingHeaderOriginal">
							<tr class="widget-list-header">
								<!-- <th style="width: 20px;"><label
									class="i-checks i-checks-sm"> <input type="checkbox"
										ng-checked="isCheckedAll()" ng-click="checkAll()"><i></i>
								</label></th> -->
								<th colspan="2">分销商</th>
								<th width='90px'>手机号码</th>								
								<th>店铺状态</th>
								<th width='150px'>注册日期</th>
								<th width='130px'>操作</th>
							</tr>
						</thead>
						<tbody class="js-list-body-region">
							<tr ng-repeat="data in pageData.list">
								<!-- <td><label class="i-checks i-checks-sm"> <input
										id={{data.id}} type="checkbox" ng-checked="data.chk"
										ng-click="data.chk = !data.chk"><i></i>
								</label></td> -->
								<td class="goods-image-td" width='60px'>
									<a href='{{data.shops[0].url}}' target="blank"><img src="{{data.shops[0].logo}}-40" onerror="this.src='./img/main_ico_29.png'" width='40px'></a>
								</td>
								<td class="goods-meta">{{data.nickname}}<div><a href='{{data.shops[0].url}}' target="blank">{{data.shops[0].shop_name}}</a></div></td>
								<td>{{data.mobile}}</td>								
								<td>{{data.str}}</td>
								<td>{{data.regist_time}}</td>
								<td>
									<a style='color:red' ng-click="freeze(data.id)" ng-show="data.delete_flag==0"> 封号 &nbsp;&nbsp;</a>
									<a style='color:red' ng-click="unfreeze(data.id)" ng-show="data.delete_flag==1"> 解冻&nbsp;&nbsp;</a>
									<i ng-hide=data.shops.length==0><a ng-click="toProxyShopList(data.id)"> 店铺审核&nbsp;&nbsp;</a></i>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="js-list-empty-region"></div>
					<footer class="panel-footer" style="text-align: right;">
						<div class="row">
							<div style="text-align: left; margin-left: 10px;"
								ng-show="pageData.totalRow>0">

								<custom-pagination boundary-links="true"
									ng-change="pageChanged()" total-items="pageData.totalRow"
									ng-model="pageData.pageNumber" page-size="pageData.pageSize"
									class="pagination-sm m-t-none m-b" previous-text="&lsaquo;"
									next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
								</custom-pagination>
							</div>
							<div ng-show="(pageData.totalRow==0)||(pageData=='')"
								style="text-align: center;">没有找到相关记录!</div>

						</div>
					</footer>
				</div>
			</div>

		</div>
	</div>
</div>